@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.jumbotron-mask {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
}

.navbar-toggler { border: none; }